h2 {
  font-size: 42px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica, sans-serif;
  font-weight: 900;
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: .5em;
}

body {
  color: #666;
  font-weight: 100;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-size: 100%;
}

h3 {
  font-size: 30px;
}

p, dl, ol, ul {
  font-size: 1rem;
}

a {
  font-weight: 100;
  color: #00369f;
  text-decoration: none;
}

pre {
  counter-reset: line-numbering;
  white-space: pre;
  overflow-x: auto;
  word-break: inherit;
  word-wrap: inherit;
}
pre {
  padding: 1.125em;
  line-height: 1.11;
  overflow-x: scroll;
  margin-bottom: 0.88em;
  background-color: #fafafa;
}
pre, code {
  font-family: "Source Code Pro", Consolas, monospace;
}
pre, pre code {
  background-color: transparent;
  border-radius: 0;
}
pre, code {
  background-color: #eee;
  border-radius: 3px;
}
pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow-x: scroll;
}
pre, code, samp {
  font-family: "Source Code Pro", Consolas, monospace;
  font-size: inherit;
}
