/* a very simple style sheet */

body {
	text-align: justify;
/* 	margin: 1%; */
	background-color:#ffffff;
	max-width: 48em;
}

#canvas {
	width:600px;
	margin:20px auto;
}

/*
a:link { 
	color: #000080;
} 
*/

a:visited { 
	text-decoration: none
}

a:hover {
	text-decoration: none
}