<!DOCTYPE doctype PUBLIC "-//w3c//dtd html 4.0 transitional//en">
<html>
<head>
    <meta http-equiv="Content-Type"content="text/html; charset=iso-8859-1">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
  <title>Hephaestus Compiler Testing Project</title>
</head>


<body bgcolor="#ffffff">

<link type="text/css" rel="stylesheet" href="style.css">

<font face="ariel,helvetica">

<h2>Project Hephaestus for Compiler Testing</h2>

Hephaestus is a project for validating static typing procedures
in compilers. As part of this project,
we have developed numerous techniques to stress-test the
implementation of type checkers in popular programming languages,
such as  <i>Java</i>,  <i>Kotlin</i>, <i>Groovy</i>,
and <i>Scala</i>.
At the high level,
our techniques generate type-intensive programs by
either producing complex definitions from scratch or
by combining synthetic code with application programming interfaces (APIs)
from existing software libraries.
To validate diverse aspects of static typing procedures
(i.e., soundness, precision
of type inference),
we also enrich our approaches with fault-injection
and semantics-preserving
modes, along with their corresponding test oracles.


<p><b>Tools</b>: <a href="https://github.com/hephaestus-compiler-project">https://github.com/hephaestus-compiler-project</a></p>


<h3>Results</h3>

Bugs found in compilers:

<p>
Summary: <b>{{TOTAL_BUGS}}</b> (total) / <b>{{TOTAL_FIXED}}</b> (fixed)<br>
<ul>
<li>Groovy bugs: <b>{{GROOVY_BUGS}}</b> (total) / <b>{{GROOVY_FIXED}}</b> (fixed)</li>
<li>Kotlin bugs: <b>{{KOTLIN_BUGS}}</b> (total) / <b>{{KOTLIN_FIXED}}</b> (fixed)</li>
<li>Java bugs: <b>{{JAVA_BUGS}}</b> (total) / <b>{{JAVA_FIXED}}</b> (fixed)</li>
<li>Scala bugs: <b>{{SCALA_BUGS}}</b> (total) / <b>{{SCALA_FIXED}}</b> (fixed)</li>
<li>Unexpected Compile Time Error bugs: <b>{{UCTE_BUGS}}</b> (total)</li>
<li>Unexpected Runtime Behavior bugs: <b>{{URB_BUGS}}</b> (total)</li>
<li>Crash bugs: <b>{{CRASH_BUGS}}</b> (total)</li>
<li>Compilation Performance Issue bugs: <b>{{CPI_BUGS}}</b> (total)</li>
</ul>
</p>
Well-typed programs (w/o type erasure) (<a href="hephaestus_bugs.html">report links</a>) <br>
Well-typed programs (w/ type erasure) (<a href="tem_bugs.html">report links</a>) <br>
Ill-typed programs (w/o type erasure) (<a href="tom_bugs.html">report links</a>) </br>
Ill-typed programs (w/ type erasure) (<a href="tem_tom_bugs.html">report links</a>)
</p>


<h3>Team</h3>
<a href="https://theosotr.github.io/">Thodoris Sotiropoulos</a> <br>
<a href="https://stefanoschaliasos.github.io/">Stefanos Chaliasos</a> <br>
<a href="https://gdrosos.github.io/">Giorgos Drosos</a> <br>
<a href="https://github.com/CHM1993">Charalambos Mitropoulos</a> <br>
<a href="https://www.doc.ic.ac.uk/~livshits/">Benjamin Livshits</a> <br>
<a href="https://www.spinellis.gr/index.html.var">Diomidis Spinellis</a> <br>
<a href="https://dimitro.gr/">Dimitris Mitropoulos</a> <br>
<a href="https://people.inf.ethz.ch/suz/">Zhendong Su</a> <br>

<h3>Publications</h3>
  [1] <a href="https://theosotr.github.io/assets/pdf/popl24.pdf">
  <B>API-driven Program Synthesis for Testing Static Typing Implementations</B></a>. 
  [<a href="https://github.com/hephaestus-compiler-project/thalia-popl-eval">artifact</a>] <br>
Thodoris Sotiropoulos, Stefanos Chaliasos, Zhendong Su. </br> 
In <a href="https://popl24.sigplan.org/"><I>Proceedings of POPL 2024</I></a>, London, UK, January 2024. </br>
<br>

  [2] <a href="https://dl.acm.org/doi/10.1145/3519939.3523427">
  <B>Finding Typing Compiler Bugs</B></a>. 
  [<a href="https://github.com/hephaestus-compiler-project/hephaestus-pldi-eval">artifact</a>] <br>
Stefanos Chaliasos<sup>*</sup>, Thodoris Sotiropoulos<sup>*</sup>, Diomidis Spinellis, Arthur Gervais, Benjamin Livshits, and Dimitris Mitropoulos. </br> 
In <a href="https://conf.researchr.org/home/pldi-2022"><I>Proceedings of PLDI 2022</I></a>, San Diego, US, June 2022. </br>
<div style="font-size:10pt;margin-bottom:-10pt "><sup>*</sup>
  Both authors contributed equally to this work.
</div>
<br>
<br>

  [3] <a href="https://dl.acm.org/doi/pdf/10.1145/3485500">
  <B>Well-Typed Programs Can Go Wrong: A Study of Typing-Related Bugs in JVM Compilers</B></a>. 
  [<a href="https://github.com/hephaestus-compiler-project/types-bug-study-artifact">artifact</a>] <br>
Stefanos Chaliasos<sup>*</sup>, Thodoris Sotiropoulos<sup>*</sup>, Georgios-Petros Drosos, Charalambos Mitropoulos, Dimitris Mitropoulos, and Diomidis Spinellis. </br> 
In <a href="https://2021.splashcon.org/track/splash-2021-oopsla"><I>Proceedings of OOPSLA 2021</I></a>, Chicago, US, October 2021. </br>
<div style="font-size:10pt;margin-bottom:-10pt "><sup>*</sup>
  Both authors contributed equally to this work.
</div>

<br><br>

<tt>last modified: {{LAST_MODIFIED}}</tt>
</body>
</html>
